# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock.bak
*.iml
.idea/
.vscode/

# Android
**/android/local.properties
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
*.keystore
!debug.keystore

# macOS/iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# 备份
*.zip
social_im_demo_*.zip

# 本地工具环境
*.log
